/wolf3d
/*.o
/objs/*.o
/libft/libft.a
/libft/objs/*.o
/minilibx_sierra/libmlx.a
/minilibx_sierra/*.o
/minilibx_linux/libmlx_Linux.a
/minilibx_linux/*.o
/minilibx_elcapitan/libmlx.a
/minilibx_elcapitan/*.o
